.ff-cursive {
    font-family: 'Sue Ellen Francisco', cursive;
    font-weight: 400;
    font-style: normal;
}

.fs-larger {
    font-size: 1.1em !important;
}

.fs-140 {
    font-size: 1.4rem !important;
}
.fs-150 {
    font-size: 1.5rem !important;
}
.fs-200 {
    font-size: 2rem !important;
}
.fs-80 {
    font-size: 0.8rem !important;
}
