$primary: #2272af;
$secondary: #abbac9;
$danger: #b05f21;
$info: #21b0a2;
$dark: #232c33;
$warning: #b08821;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

html, body, #root {
  height: 100%;
}

.logo {
  background: var(--bs-light);
  border-radius: 25%;
}
.fs-140 {
  font-size: 1.4rem !important;

}
.fs-80 {
  font-size: .8rem !important;
}

.form .form-group {
  margin-bottom: .25rem;
  
  label {
    font-weight: bold;
    letter-spacing: 1px;
  }
}