$primary: #2272af;
$secondary: #abbac9;
$danger: #b02121;
$info: #21b0a2;
$dark: #01182b;
$warning: #d8b02d;

$input-border-radius: 0;
$input-bg: #ebf2f9;
$input-group-addon-bg: var(--bs-bg-body);
$form-check-input-checked-bg-color: var(--bs-dark);
$form-check-input-checked-color: #ebf2f9;

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './styles/typography';
@import './styles/skeleton';
@import './styles/message';
@import './styles/streak';

.form-control {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}
.input-group-text {
    border-style: none;
}
.inset-0 {
    inset: 0;
}

.text-shadow {
    text-shadow: 0 0 5px rgba($black, 1);;
}

html,
body,
#root {
    height: 100%;
}

body {
    background: rgba(var(--bs-primary-rgb), 0.1);
}

.logo {
    background: var(--bs-light);
    border-radius: 25%;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .form-group {
    margin-bottom: 0.75rem;

    & > label {
        font-weight: 900;
        letter-spacing: 1px;
        margin-bottom: 0.3rem;
    }
}

.task-completed {
    position: relative;

    & > div.original {
        opacity: 0;
    }
    & > div:not(.original) {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .from {
        pointer-events: none;
        animation: task-completed-from 1s ease-in-out forwards;
        z-index: 1;
    }
    .to {
        pointer-events: none;
        animation: task-completed-to 0.5s ease-in-out forwards;
        z-index: 2;
    }
}

@keyframes task-completed-from {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(3);
    }
}

@keyframes task-completed-to {
    0% {
        opacity: 0;
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animated-background {
    position: absolute;
    inset: -100% 0 -100% 0;
    animation: animated-background 3s linear infinite;
}

@keyframes animated-background {
    from {
        top: -3rem;
    }
    to {
        top: 0rem;
    }
}

.btn-outline-primary {
    background-color: var(--bs-white);
}


.dropdown-toggle::after {
    border-top: var(--toggle-size, 0.3em) solid;
    border-right: var(--toggle-size, 0.3em) solid transparent;
    border-left: var(--toggle-size, 0.3em) solid transparent;
}